[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/grok-1.1.1.cfg
versions = versions
newest = false
extensions = buildout.dumppickedversions

[versions]
dolmen.content = 0.3.1
grokcore.view = 1.13.5

[test]
recipe = zc.recipe.testrunner
eggs = dolmen.forms.crud [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
